<!-- mobile side bar content -->
    <div class="ui bottom attached segment pushable">
        <div class="ui left demo vertical inverted sidebar labeled icon menu">

          <a class=" item" routerLink="/index/">
            <i class="home icon"></i>
            Home
          </a>
          <a class="item" routerLink="/index/about-us/">
            <i class="users icon"></i>
            About us
          </a>
          <a class="item" routerLink="/index/songsListed/"
          routerLinkActive="router-link-active">
          <i class="music icon"></i>
            MyViralList
          </a>
        </div>
        </div>
