
<!--Join Event form content -->
<div class="ui modal" id="Join">
    <i class="close icon"></i>
    <div class="header">
      Join Event
    </div>
     <form  #JoinEvent="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput type="text" name="UserName" [(ngModel)]="user.userName"   placeholder="user Name" required >
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>Please enter a User Name.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> EventCode </mat-label>
          <input matInput type="text" name="EventCode"  placeholder="EventCode" required>
          <mat-icon matSuffix>lock_open</mat-icon>
          <mat-error>Please enter a valid event code.</mat-error>
        </mat-form-field>
        <div class="example-button-row">
          <button
          mat-raised-button color="warn"
          (click)="OnJoinEvent()"
          routerLink="/index/songsListed">
          <mat-icon matSuffix>
            my_library_music
          </mat-icon>
          Join Event
        </button>
      </div>
    </form>
  </div>
