<!--Create Event form-->
<div class="ui modal" id="Create">
  <i class="close icon"></i>
  <div class="header">
    Create Your Event
  </div>
  <form  #CreateEvent="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Host Name</mat-label>
        <input matInput type="text" name="hostName"  placeholder="Host Name" required >
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>Please enter a Host Name.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> Eventname </mat-label>
        <input matInput type="text" name="Eventname" [(ngModel)]="event.eventname"   placeholder="Eventname" required>
        <mat-icon matSuffix>speaker</mat-icon>
        <mat-error>Please enter an Event Name.</mat-error>
      </mat-form-field>
      <div class="example-button-row">
        <button
        mat-raised-button color="warn"
        (click)="OnCreateEvent()"
        routerLink="/index/songsListed">
        <mat-icon matSuffix>
          my_library_music
        </mat-icon>
        Create Event
      </button>
    </div>
  </form>
</div>
